
<div class="text-white h-full">
    
    <!-- Trending Chart Card -->
    <a href="#" id="trending-card-link" class="group h-full relative flex bg-gray-900/50 backdrop-blur-sm max-w-xl p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-red-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#f10a0a]" >
        
        <!-- Background Image (Transparent & Blended) -->
        <div id="trending-card-bg" class="absolute inset-0  h-50 bg-cover bg-center opacity-40 mix-blend-overlay group-hover:scale-110 transition-transform duration-700 pointer-events-none"></div>

        <!-- Left Icon Container -->
        <div class="relative z-10 border border-red-500/30 bg-red-500/10 w-12 h-12 flex items-center justify-center rounded-xl mr-5 my-auto group-hover:bg-red-500/20 group-hover:border-red-500 transition-colors">
            <svg class="w-6 h-6 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.122 17.645a7.185 7.185 0 0 1-2.656 2.495 7.06 7.06 0 0 1-3.52.853 6.617 6.617 0 0 1-3.306-.718 6.73 6.73 0 0 1-2.54-2.266c-2.672-4.57.287-8.846.887-9.668A4.448 4.448 0 0 0 8.07 6.31 4.49 4.49 0 0 0 7.997 4c1.284.965 6.43 3.258 5.525 10.631 1.496-1.136 2.7-3.046 2.846-6.216 1.43 1.061 3.985 5.462 1.754 9.23Z"/>
            </svg>
        </div>
        
        <!-- Right Text Content -->
        <div class="relative z-10">
            <span class="block text-xs font-bold tracking-widest text-red-400 mb-1">TRENDING RIGHT NOW</span>
            <h3 id="trending-card-title" class="text-xl font-bold text-white mb-1 group-hover:text-cyan-300 transition-colors line-clamp-2 min-h-14">loading...</h3>
            <span class="inline-flex items-center text-sm font-semibold text-gray-400 bg-gray-800/80 px-2 py-0.5 rounded border border-gray-700">
                <span class="w-2 h-2 rounded-full bg-green-400 mr-2"></span>
                <span id="trending-card-score" ></span>
            </span>
        </div>
        
    </a>

</div>

<div class="text-white h-full">
    
    <!-- Trending Chart Card -->
    <a href="#" id="top-rated-card-link" class="group h-full relative flex bg-gray-900/50 backdrop-blur-sm max-w-sm p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-yellow-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#f1e90a]">
        
        <!-- Background Image (Transparent & Blended) -->
        <div id="top-rated-card-bg" class="absolute inset-0 bg-cover bg-center opacity-30 mix-blend-overlay group-hover:scale-110 transition-transform duration-700 pointer-events-none"></div>

        <!-- Left Icon Container -->
        <div  class="relative z-10 border border-yellow-400/30 bg-yellow-400/10 w-12 h-12 flex items-center justify-center rounded-xl mr-5 my-auto group-hover:bg-yellow-500/20 transition-colors ">
            <svg class="w-6 h-6 text-yellow-400"  data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0"></path>
            </svg>
        </div>
        
        <!-- Right Text Content -->
        <div  class="relative z-10">
            <span class="block text-xs font-bold tracking-widest text-yellow-400 mb-1">TOP RATED</span>
            <h3 id="top-rated-card-title" class="text-xl font-bold text-white mb-1 group-hover:text-cyan-300 transition-colors line-clamp-2 min-h-14">Loading...</h3>
            <span class="inline-flex items-center text-sm font-semibold text-gray-400 bg-gray-800/80 px-2 py-0.5 rounded border border-gray-700">
                <span class="w-2 h-2 rounded-full bg-green-400 mr-2"></span>
                <span id="top-rated-card-score" ></span>
            </span>
        </div>
        
    </a>

</div>
<div class="text-white h-full">
    
    <!-- Trending Chart Card -->
    <a href="#" id="lastest-drop-card-link" class="group h-full relative flex bg-gray-900/50 backdrop-blur-sm max-w-sm p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-cyan-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#0adff1] ">
        
        <!-- Background Image (Transparent & Blended) -->
        <div id="lastest-drop-card-bg" class="absolute inset-0 bg-cover bg-center opacity-40 mix-blend-overlay group-hover:scale-110 transition-transform duration-700 pointer-events-none"></div>

        <!-- Left Icon Container -->
        <div class="relative z-10 border border-cyan-500/30 bg-cyan-500/10 w-12 h-12 flex items-center justify-center rounded-xl mr-5 my-auto group-hover:bg-cyan-500/20 group-hover:border-cyan-500 transition-colors">
            <svg class="w-6 h-6 text-cyan-400 dark:text-cyan-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
            </svg>

        </div>
        
        <!-- Right Text Content -->
        <div class="relative z-10">
            <span class="block text-xs font-bold tracking-widest text-cyan-400 mb-1">LATEST DROPS</span>
            <h3 id="lastest-drop-card-title" class="text-xl font-bold text-white mb-1 group-hover:text-cyan-300 transition-colors line-clamp-2 min-h-14">Loading...</h3>
            <span class="inline-flex items-center text-sm font-semibold text-gray-400 bg-gray-800/80 px-2 py-0.5 rounded border border-gray-700">
                <span class="w-2 h-2 rounded-full bg-blue-400 mr-2"></span>
                <span id="lastest-drop-card-score" ></span>
            </span>
        </div>
        
    </a>

</div>



