<div class="" >
    
    <h2 class="text-cyan-50">Browse by Genre</h2>
</div>
<div class="flex gap-5 justify-center ">
    <a href="#" class="group relative flex justify-center bg-gray-900/50 backdrop-blur-sm max-w-sm w-40  p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-red-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#f10a0a]">
        <div>
            <h3 class="text-cyan-50" >Action</h3>
        </div>
    </a>
    <a href="#" class="group relative flex justify-center bg-gray-900/50 backdrop-blur-sm max-w-sm w-40  p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-cyan-400/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#00ffff]">
    <div>
        <h3 class="text-cyan-50" >Shooter</h3>
    </div>
</a>
<a href="#" class="group relative flex justify-center bg-gray-900/50 backdrop-blur-sm max-w-sm w-40  p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-yellow-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#ffeb00]">
    <div>
        <h3 class="text-cyan-50" >Puzzle</h3>
    </div>
</a>
<a href="#" class="group relative flex justify-center bg-gray-900/50 backdrop-blur-sm max-w-sm w-40  p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-green-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#00ff0b]">
    <div>
        <h3 class="text-cyan-50" >Adventure</h3>
    </div>
</a>
<a href="#" class="group relative flex justify-center bg-gray-900/50 backdrop-blur-sm max-w-sm w-40  p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-purple-600/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#6a00ff]">
    <div>
        <h3 class="text-cyan-50" >Sci-Fi</h3>
    </div>
</a>
<a href="#" class="group relative flex justify-center bg-gray-900/50 backdrop-blur-sm max-w-sm w-40  p-6 overflow-hidden rounded-2xl border border-gray-700 hover:border-zinc-500/50 hover:bg-gray-800/80 transition-all duration-300 shadow-lg hover:drop-shadow-[0_0_10px_#535353]">
    <div>
        <h3 class="text-cyan-50" >Horror</h3>
    </div>
</a>

</div>
