<div class="w-full mx-auto py-8">
    
    <div class="flex items-end justify-between  p-5 px-2">
        <div class="flex gap-3 items-center">
            <svg class="w-6 h-6 text-cyan-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
            </svg>
            <div>
                <h2 class="text-2xl font-extrabold text-white leading-tight">New Releases</h2>
                <p class="text-sm text-gray-400 font-medium">The latest games added</p>
            </div>
        </div>
        
        <div class="flex gap-2">
            <button id="new-releases-prev" class="w-8 h-8 flex items-center justify-center rounded-full bg-transparent hover:bg-gray-800 text-gray-400 hover:text-white transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            </button>
            <button id="new-releases-next" class="w-8 h-8 flex items-center justify-center rounded-full bg-transparent hover:bg-gray-800 text-gray-400 hover:text-white transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </button>
        </div>
    </div>
    
    <div id="new-releases-track" class="flex overflow-x-auto snap-x snap-mandatory gap-4 py-6 px-2 scroll-smooth [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
        
        

    </div>
</div>
