<div class="w-full mx-auto py-8">
    
    <div class="flex items-end justify-between  p-5 px-2">
        <div class="flex gap-3 items-center">
            <svg class="w-6 h-6 text-cyan-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <div>
                <h2 class="text-2xl font-extrabold text-white leading-tight">Top Rated</h2>
                <p class="text-sm text-gray-400 font-medium">Highly reviewed games</p>
            </div>
        </div>
        
        <div class="flex gap-2">
            <button id="top-rated-prev" class="w-8 h-8 flex items-center justify-center rounded-full bg-transparent hover:bg-gray-800 text-gray-400 hover:text-white transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            </button>
            <button id="top-rated-next" class="w-8 h-8 flex items-center justify-center rounded-full bg-transparent hover:bg-gray-800 text-gray-400 hover:text-white transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </button>
        </div>
    </div>
    
    <div id="top-rated-track" class="flex overflow-x-auto snap-x snap-mandatory gap-4 py-6 px-2 scroll-smooth [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
        
        

    </div>
</div>
