<div class="w-full mx-auto py-8">
    
    <div class="flex items-end justify-between  p-5 px-2">
        <div class="flex gap-3 items-center">
            <svg class="w-6 h-6 text-cyan-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path></svg>
            <div>
                <h2 class="text-2xl font-extrabold text-white leading-tight">Trending Now</h2>
                <p class="text-sm text-gray-400 font-medium">Most added games this month</p>
            </div>
        </div>
        
        <div class="flex gap-2">
            <button id="trending-prev" class="w-8 h-8 flex items-center justify-center rounded-full bg-transparent hover:bg-gray-800 text-gray-400 hover:text-white transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            </button>
            <button id="trending-next" class="w-8 h-8 flex items-center justify-center rounded-full bg-transparent hover:bg-gray-800 text-gray-400 hover:text-white transition-colors">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </button>
        </div>
    </div>
    
    <div id="trending-track" class="flex overflow-x-auto snap-x snap-mandatory gap-4 py-6 px-2 scroll-smooth [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
        
        

    </div>
</div>